{% extends "base.html" %} {% block title %}Home{% endblock %}{% block content %}
<br />
<h2 align="left">{{ user.firstName }}'s Notes</h2>
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
        <li class="list-group-item">
                <form method="POST" action="viewnote" class="inline">
                    <input type="hidden" name="hidden_note_id" value="{{note.id}}">
                    <button type="submit" name="view_note_btn" class="link-button">
                        {{ note.note_title }}
                    </button>
                </form>

                <button type="button" class="close" onClick="deleteNote({{ note.id }})">
                    <span aria-hidden="true">&times;</span>
                </button>
        </li>
    {% endfor %}
</ul>
<form method="POST">
    <input type="text" name="note_title" id="note_title" placeholder="Untitled" class="form-control" />
    <textarea name="note" id="note" class="form-control" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>
    <br />
    <div align="center">
        <button type="submit" name="new_note" class="btn btn-primary">Add Note</button>
    </div>
</form>
{% endblock %}